html,
body {
  height: 100%;
}

#elm {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#elm .hearder {
  width: 100%;
  height: 25.33333vw;
  background: #0195ff;
}

#elm .hearder .dw {
  width: 100%;
  padding: 5.06667vw 0vw 2.66667vw 3.46667vw;
  box-sizing: border-box;
}

#elm .hearder .dw i {
  font-size: 4.53333vw;
  line-height: 4.53333vw;
  color: white;
}

#elm .hearder .dw .hs {
  font-size: 4.53333vw;
  line-height: 4.53333vw;
  color: white;
}

#elm .hearder .dw .hs1 {
  display: inline-block;
  border: 1.33333vw solid transparent;
  border-top-color: white;
  color: white;
}

#elm .hearder .search {
  text-align: center;
  position: relative;
}

#elm .hearder .search input {
  width: 92.26667vw;
  height: 9.6vw;
  text-align: center;
}

#elm .hearder .search .se {
  position: absolute;
  top: 1.6vw;
  left: 22vw;
}

#elm .main {
  flex: 1;
  overflow: auto;
}

#elm .main .m1 .m1u {
  display: flex;
  flex-wrap: wrap;
}

#elm .main .m1 .m1u li {
  flex: 1;
}

#elm .main .m1 .m1u li a {
  color: black;
  display: block;
  text-align: center;
}

#elm .main .m1 .m1u li a img {
  width: 12vw;
  height: 12vw;
  padding: 3.06667vw;
}

#elm .main .m1 .m1u li a span {
  font-size: 3.2vw;
  line-height: 3.2vw;
}

#elm .main .m1 p {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#elm .main .m1 p .ps1 {
  display: inline-block;
  width: 2.66667vw;
  height: 0.53333vw;
  background: #0195ff;
}

#elm .main .m1 p .ps2 {
  display: inline-block;
  width: 2.66667vw;
  height: 0.53333vw;
  background: #b0b1b3;
}

#elm .main .m2 {
  position: relative;
}

#elm .main .m2 .m2t {
  margin: auto;
  width: 94.93333vw;
  height: 29.33333vw;
  background: #f6f6f6;
}

#elm .main .m2 .m2t .m2tp {
  padding: 4vw 4vw;
  box-sizing: border-box;
}

#elm .main .m2 .m2t .m2tp h2 {
  font-size: 4.53333vw;
  line-height: 4.53333vw;
  font-weight: bold;
}

#elm .main .m2 .m2t .m2tp p {
  font-size: 3.2vw;
  line-height: 6.66667vw;
  color: #7d7d7d;
}

#elm .main .m2 .m2t .m2tp p:nth-child(3) {
  color: #ad7f65;
}

#elm .main .m2 .m2t img {
  width: 37.6vw;
  height: 25.06667vw;
  position: absolute;
  top: 0.66667vw;
  right: 2.66667vw;
}

#elm .main .m2 .m2c {
  width: 94.93333vw;
  height: 10.66667vw;
  background: #f9e9b5;
  margin: auto;
  margin-top: 1.33333vw;
}

#elm .main .m2 .m2c .m2cu {
  display: flex;
  padding: 2.66667vw;
}

#elm .main .m2 .m2c .m2cu li {
  flex: 1px;
  position: relative;
}

#elm .main .m2 .m2c .m2cu li a {
  text-align: center;
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #ad7f65;
  position: absolute;
  top: 1.33333vw;
  right: 0vw;
}

#elm .main .m2 .m2c .m2cu li:nth-child(1) {
  flex: 3;
}

#elm .main .m2 .m2c .m2cu li:nth-child(1) img {
  width: 5.33333vw;
  height: 4.53333vw;
}

#elm .main .m2 .m2c .m2cu li:nth-child(1) h2 {
  display: inline-block;
  font-size: 4vw;
  line-height: 4vw;
  font-weight: bold;
  color: #ad7f65;
}

#elm .main .m2 .m2c .m2cu li:nth-child(1) span {
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #ad7f65;
}

#elm .main .m2 .m2f {
  width: 94.66667vw;
  height: 23.73333vw;
  margin-top: 1.33333vw;
  background: #0886ff;
  margin: auto;
  margin-top: 1.33333vw;
  position: relative;
}

#elm .main .m2 .m2f .m2fp {
  padding: 4vw 0vw 0vw 12vw;
}

#elm .main .m2 .m2f .m2fp h2 {
  font-size: 4.8vw;
  line-height: 4.8vw;
  color: white;
}

#elm .main .m2 .m2f .m2fp p {
  display: block;
  width: 33.33333vw;
  height: 4vw;
  font-size: 3.2vw;
  line-height: 4vw;
  text-align: center;
  border-radius: 20px;
  color: #0195ff;
  background: white;
  margin-top: 2.4vw;
}

#elm .main .m2 .m2f img {
  width: 27.46667vw;
  height: 23.06667vw;
  position: absolute;
  top: 0vw;
  right: 0vw;
}

#elm .main .m3 .m3t {
  width: 100%;
  height: 22.66667vw;
  text-align: center;
}

#elm .main .m3 .m3t h2 {
  display: block;
  height: 14.66667vw;
  font-size: 4.26667vw;
  line-height: 14.66667vw;
}

#elm .main .m3 .m3t .m3tu {
  display: flex;
}

#elm .main .m3 .m3t .m3tu li {
  flex: 1;
  font-size: 3.73333vw;
  line-height: 3.73333vw;
}

#elm .main .m3 .m3t .m3tu li a {
  display: block;
  color: black;
}

#elm .main .m3 .m3t .m3tu li a .ls {
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: black;
  color: black;
}

#elm .main .m3 .m3c {
  margin-top: 1.33333vw;
}

#elm .main .m3 .m3c .a {
  display: flex;
  height: 46.66667vw;
  margin-top: 1.33333vw;
  border-bottom: 0.13333vw solid #f6f6f8;
}

#elm .main .m3 .m3c .a .al {
  flex: 1;
  height: 46.66667vw;
  padding: 0vw 0vw 0vw 2.66667vw;
}

#elm .main .m3 .m3c .a .al img {
  width: 17.33333vw;
  height: 17.33333vw;
  border: 0.13333vw solid #ccc;
}

#elm .main .m3 .m3c .a .ar {
  flex: 4;
  height: 46.66667vw;
}

#elm .main .m3 .m3c .a .ar .art {
  height: 30.4vw;
}

#elm .main .m3 .m3c .a .ar .art .art1 {
  height: 8.26667vw;
  position: relative;
}

#elm .main .m3 .m3c .a .ar .art .art1 i {
  display: inline-block;
  width: 7.46667vw;
  height: 4.8vw;
  font-size: 3.2vw;
  color: #d68324;
  background: yellow;
}

#elm .main .m3 .m3c .a .ar .art .art1 span {
  font-size: 4.8vw;
  line-height: 4.8vw;
}

#elm .main .m3 .m3c .a .ar .art .art1 .s {
  color: #ccc;
  position: absolute;
  top: 0vw;
  right: 2.66667vw;
}

#elm .main .m3 .m3c .a .ar .art .art2 {
  height: 6.4vw;
  position: relative;
}

#elm .main .m3 .m3c .a .ar .art .art2 img {
  width: 14.93333vw;
  height: 2.93333vw;
}

#elm .main .m3 .m3c .a .ar .art .art2 .s1 {
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #b0b1b3;
}

#elm .main .m3 .m3c .a .ar .art .art2 i {
  display: inline-block;
  width: 11.73333vw;
  height: 3.33333vw;
  font-size: 2.66667vw;
  line-height: 3.33333vw;
  text-align: center;
  color: #fff;
  border-radius: 2px;
  background: #0195ff;
  position: absolute;
  top: 0.8vw;
  right: 2.66667vw;
}

#elm .main .m3 .m3c .a .ar .art .art3 {
  height: 6.4vw;
  position: relative;
}

#elm .main .m3 .m3c .a .ar .art .art3 span {
  font-size: 2.93333vw;
  line-height: 2.93333vw;
  color: #b0b1b3;
}

#elm .main .m3 .m3c .a .ar .art .art3 span:nth-child(2) {
  position: absolute;
  top: 1.33333vw;
  right: 2.66667vw;
}

#elm .main .m3 .m3c .a .ar .art .art4 {
  height: 8.8vw;
  border-bottom: 0.13333vw dashed #e2e2e2;
}

#elm .main .m3 .m3c .a .ar .art .art4 span {
  width: 12.8vw;
  height: 4vw;
  font-size: 2.93333vw;
  line-height: 4vw;
  border: 1px solid #ccc;
  color: #b0b1b3;
}

#elm .main .m3 .m3c .a .ar .art .art4 span:nth-child(2) {
  color: black;
}

#elm .main .m3 .m3c .a .ar .arf p {
  position: relative;
}

#elm .main .m3 .m3c .a .ar .arf p i {
  display: inline-block;
  width: 4vw;
  height: 4vw;
  font-size: 2.93333vw;
  line-height: 4vw;
  border-radius: 0.26667vw;
  text-align: center;
  background: #ee6d67;
  background: #f68543;
}

#elm .main .m3 .m3c .a .ar .arf p span {
  font-size: 2.93333vw;
  line-height: 2.93333vw;
  color: #b0b1b3;
}

#elm .main .m3 .m3c .a .ar .arf p .ss {
  font-size: 2.93333vw;
  line-height: 2.93333vw;
  color: #b0b1b3;
  position: absolute;
  top: 1.33333vw;
  right: 5.33333vw;
}

#elm .main .m3 .m3c .a .ar .arf p .sss {
  border: 1.33333vw solid transparent;
  border-top-color: #b0b1b3;
  position: absolute;
  top: 2.66667vw;
  right: 2vw;
}

#elm .footer {
  width: 100%;
  height: 14.13333vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#elm .footer .f {
  text-align: center;
  flex: 1;
}

#elm .footer .f i {
  font-size: 8vw;
  line-height: 8vw;
  color: #7d7d7d;
}

#elm .footer .f p {
  margin-top: 1.33333vw;
  font-size: 2.66667vw;
  line-height: 2.66667vw;
  color: #b0b1b3;
}
