* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
}

.clearflex::after {
  content: '';
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
  display: block;
}

.content {
  width: 1200px;
  height: 100%;
  margin: auto;
}

#box {
  width: 100%;
  height: 100%;
}

#box .reglogo {
  width: 100%;
  height: 100%;
}

#box .reglogo .popup {
  display: none;
  position: absolute;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  background: #f7f7f6;
  padding: 40px 40px 30px 40px;
  box-sizing: border-box;
  z-index: 700;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate();
}

#box .reglogo .popup .poimg {
  position: absolute;
  top: 10px;
  right: 10px;
}

#box .reglogo .popup .poimg img {
  width: 62px;
  height: 62px;
}

#box .reglogo .popup .btm {
  width: 370px;
  height: 40px;
  border: 1px solid #d7d7d6;
  padding: 0 20px;
  box-sizing: border-box;
}

#box .reglogo .popup .pass_login_box .titleh {
  width: 100%;
  height: 35px;
  line-height: 35px;
  font-size: 30px;
  color: #666;
}

#box .reglogo .popup .pass_login_box .titleh h3 {
  float: left;
  text-align: left;
}

#box .reglogo .popup .pass_login_box .titleh span {
  display: block;
  font-size: 12px;
  float: right;
  color: #999;
  margin: 10px 20px 0 0;
}

#box .reglogo .popup .pass_login_box .inputbox {
  display: block;
}

#box .reglogo .popup .pass_login_box .inputbox form {
  position: relative;
}

#box .reglogo .popup .pass_login_box .inputbox form .username {
  margin-top: 20px;
}

#box .reglogo .popup .pass_login_box .inputbox form span {
  width: auto;
  height: 38px;
  line-height: 38px;
  text-align: right;
  display: block;
  font-size: 14px;
}

#box .reglogo .popup .pass_login_box .inputbox form .inf1 {
  position: absolute;
  top: 10px;
  right: 15px;
}

#box .reglogo .popup .pass_login_box .inputbox form .inf2 {
  position: absolute;
  top: 70px;
  right: 15px;
}

#box .reglogo .popup .pass_login_box .inputbox form p {
  color: #999;
  font-size: 12px;
  margin-top: 10px;
}

#box .reglogo .popup .pass_login_box .inputbox form p input,
#box .reglogo .popup .pass_login_box .inputbox form p i {
  float: left;
}

#box .reglogo .popup .pass_login_box .inputbox form p a {
  color: #999;
  float: right;
}

#box .reglogo .popup .pass_login_box .button {
  border: 0;
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 10px;
  cursor: pointer;
  background: #8c222c;
}

#box .reglogo .popup .pass_login_box .phone_login {
  display: none;
}

#box .reglogo .popup .pass_login_box .phone_login form {
  margin-top: 25px;
  position: relative;
}

#box .reglogo .popup .pass_login_box .phone_login form .hint {
  display: none;
  margin-bottom: 10px;
  font-size: 16px;
}

#box .reglogo .popup .pass_login_box .phone_login form .getcode1 {
  position: absolute;
  right: 20px;
  top: 38px;
  background: #f3f0e9;
  color: #666;
  font-size: 12px;
  width: 75px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

#box .reglogo .popup .pass_login_box .phone_login form .ic {
  position: absolute;
  top: 92px;
  right: 15px;
  color: #999;
  display: none;
}

#box .reglogo .popup .pass_login_box .phone_login form span {
  width: auto;
  height: 38px;
  line-height: 38px;
  text-align: right;
  display: block;
  font-size: 14px;
}

#box .reglogo .popup .pass_login_box .phone_login form .inf3 {
  position: absolute;
  top: 0px;
  right: 15px;
}

#box .reglogo .popup .pass_login_box .phone_login form .inf4 {
  position: absolute;
  top: 40px;
  right: 15px;
}

#box .reglogo .popup .pass_login_box .phone_login form .inf5 {
  position: absolute;
  top: 80px;
  right: 15px;
}

#box .reglogo .popup .pass_login_box .phone_login form .paw {
  display: none;
}

#box .reglogo .popup .pass_login_box .phone_login form p {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}

#box .reglogo .popup .pass_login_box .phone_login form p i {
  font-size: 12px;
}

#box .reglogo .popup .otherlogin {
  margin-top: 20px;
}

#box .reglogo .popup .otherlogin a {
  display: block;
  line-height: 24px;
  font-size: 12px;
  float: left;
  margin-right: 30px;
  color: #666;
  text-align: center;
  cursor: pointer;
}

#box .reglogo .popup .otherlogin a i {
  margin-right: 5px;
}

#box .reglogo .popup .otherlogin .weixin {
  width: 62px;
  height: 24px;
  line-height: 24px;
  background: #77a877;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#box .reglogo .popup .otherlogin .qq:hover {
  color: #365899;
}

#box .reglogo .popup .otherlogin .weibo:hover {
  color: #8c222c;
}

#box .reglogo .popup .otherlogin span {
  color: #ccc;
}

#box .reglogo .popup .otherlogin .reg {
  float: right;
  color: #bf7f5f;
}

#box .reglogo .popup .otherlogin .reg:hover {
  color: #8c222c;
}

#box .reglogo .popup .linellae {
  border-top: 1px solid #666;
  margin: 20px 0 0;
}

#box .reglogo .popup .code_login_box {
  display: none;
}

#box .reglogo .popup .code_login_box .title2 {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}

#box .reglogo .popup .code_login_box .title2 h3 {
  display: block;
  float: left;
  font-size: 30px;
  color: #666666;
  margin-right: 10px;
  line-height: 35px;
}

#box .reglogo .popup .code_login_box .title2 p {
  float: left;
  display: block;
  font-size: 12px;
  color: #999999;
  line-height: 15px;
  margin-top: 20px;
}

#box .reglogo .popup .code_login_box .quickMark {
  width: 160px;
  height: 180px;
  font-size: 0;
  text-align: center;
  margin: 0 auto;
}

#box .reglogo .popup .code_login_box .quickMark img {
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}

#box .reglogo .popup .code_login_box .quickMark span {
  font-size: 12px;
  color: #666;
}

#box .reglogo .popup .code_login_box .quickMark span a {
  color: #8c222c;
}

#box .reglogo .popup .register_login_box {
  display: none;
}

#box .reglogo .popup .register_login_box .title3 {
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}

#box .reglogo .popup .register_login_box .title3 h3 {
  display: block;
  float: left;
  font-size: 30px;
  color: #666666;
  margin-right: 10px;
  line-height: 35px;
}

#box .reglogo .popup .register_login_box .title3 p {
  float: right;
  display: block;
  font-size: 12px;
  color: #999999;
  line-height: 15px;
  margin-top: 20px;
}

#box .reglogo .popup .register_login_box .title3 p:hover {
  color: #000;
}

#box .reglogo .popup .register_login_box form {
  position: relative;
}

#box .reglogo .popup .register_login_box form p {
  position: absolute;
  right: 20px;
  top: 38px;
  background: #f3f0e9;
  color: #666;
  font-size: 12px;
  width: 75px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

#box .reglogo .popup .register_login_box form span {
  width: auto;
  height: 38px;
  line-height: 38px;
  text-align: right;
  display: block;
  font-size: 14px;
}

#box .reglogo .popup .register_login_box form .inf6 {
  position: absolute;
  top: 0px;
  right: 15px;
}

#box .reglogo .popup .register_login_box form .inf7 {
  position: absolute;
  top: 40px;
  right: 15px;
}

#box .reglogo .popup .register_login_box form .inf8 {
  position: absolute;
  top: 80px;
  right: 15px;
}

#box .reglogo .popup .register_login_box form .inf9 {
  position: absolute;
  top: 120px;
  right: 15px;
}

#box .reglogo .popup .register_login_box .getcode {
  font-size: 12px;
  margin-top: 10px;
}

#box .reglogo .popup .register_login_box p {
  text-align: left;
  font-size: 12px;
  margin-top: 10px;
}

#box .reglogo .popup .register_login_box i {
  position: absolute;
  top: 130px;
  right: 15px;
  color: #999;
}

#box .reglogo .popup .register_login_box .icon5 {
  display: none;
}

#box .reglogo .popup .register_login_box .register {
  border: 0;
  margin-top: 25px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 10px;
  cursor: pointer;
  background: #8c222c;
}

#box .reglogo .popup .register_login_box .close {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  right: -60px;
}

#box .reglogo .popup .close {
  position: absolute;
  top: 0;
  right: -60px;
  font-size: 30px;
  color: #fff;
}

#box .reglogo .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(56, 55, 55, 0.616);
  display: none;
  z-index: 500;
}

#box .rightcolumn {
  width: 40px;
  height: 84px;
  position: fixed;
  right: 0px;
  bottom: 100px;
}

#box .rightcolumn .itemm {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #e5e5e5;
  color: #c2c2c2;
  background: #fafafa;
}

#box .rightcolumn .itemm:hover {
  color: #000;
}

#box .top {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  background: #8c222c;
}

#box .top .top_left {
  float: left;
  color: #e2c8ca;
}

#box .top .top_left span:nth-child(1) {
  margin-right: 6px;
}

#box .top .top_right {
  float: right;
  color: #e2c8ca;
}

#box .top .top_right .top_right_r {
  float: left;
  padding: 0 8px 0 8px;
  box-sizing: border-box;
  position: relative;
  color: #e2c8ca;
}

#box .top .top_right .top_right_r a {
  color: #e2c8ca;
  display: inline-block;
}

#box .top .top_right .top_right_r a:hover {
  color: #fff;
  text-decoration: underline;
}

#box .top .top_right .top_right_r .top_right_logo:hover {
  text-decoration: none;
}

#box .top .top_right .top_right_r .top_logo {
  width: 170px;
  height: 240px;
  overflow: hidden;
  position: absolute;
  top: 36px;
  left: -96px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  color: #666;
  display: none;
  background: #fff;
  z-index: 1;
}

#box .top .top_right .top_right_r .top_logo .logo {
  display: block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 15px;
  color: #fff;
  border: 1px solid #8c222c;
  background-color: #8c222c;
}

#box .top .top_right .top_right_r .top_logo .logo:hover {
  background: #661921;
}

#box .top .top_right .top_right_r .top_logo .regist {
  display: block;
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #d4c4b8;
  color: #8c222c;
  background-color: #f8f7f3;
}

#box .top .top_right .top_right_r .top_logo .regist:hover {
  border: 1px solid #8c222c;
}

#box .top .top_right .top_right_r .top_logo .other_login {
  width: 42px;
  height: 60px;
  float: left;
  text-align: center;
}

#box .top .top_right .top_right_r .top_logo .other_login i {
  display: inline-block;
  vertical-align: middle;
  font-size: 35px;
}

#box .top .top_right .top_right_r .top_logo .other_login .icon1 {
  color: #77a877;
}

#box .top .top_right .top_right_r .top_logo .other_login .icon2 {
  color: #0f8ec7;
}

#box .top .top_right .top_right_r .top_logo .other_login .icon3 {
  color: #ba5c65;
}

#box .top .top_right .top_right_r .top_right_personal {
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 36px;
  left: 0px;
  display: none;
  z-index: 1;
}

#box .top .top_right .top_right_r .top_right_personal .info-domain .domain {
  width: 50px;
  margin: 10px auto 5px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  border-bottom: 1px solid #e5e5e5;
}

#box .top .top_right .top_right_r .top_right_personal .info-domain .domain i {
  font-size: 12px;
}

#box .top .top_right .top_right_r .top_right_personal .info-domain a {
  display: block;
  width: 50px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #333;
  padding: 0 16px;
  text-decoration: none;
  margin-top: 5px;
}

#box .top .top_right .top_right_r .top_right_personal .info-domain a:hover {
  background: #ddd;
}

#box .top .top_right .top_right_r .top_right_sellercenter {
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 36px;
  left: 0px;
  display: none;
  z-index: 1;
}

#box .top .top_right .top_right_r .top_right_sellercenter .info-domain .domain {
  width: 72px;
  margin: 10px auto 5px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
  border-bottom: 1px solid #e5e5e5;
}

#box .top .top_right .top_right_r .top_right_sellercenter .info-domain .domain i {
  font-size: 12px;
}

#box .top .top_right .top_right_r .top_right_sellercenter .info-domain a {
  display: block;
  width: 72px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #333;
  padding: 0 16px;
  text-decoration: none;
  margin-top: 5px;
}

#box .top .top_right .top_right_r .top_right_sellercenter .info-domain a:hover {
  background: #ddd;
}

#box .top .top_right .top_right_r .top_right_service {
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 36px;
  left: 3px;
  padding: 15px;
  box-sizing: border-box;
  display: none;
  z-index: 1;
}

#box .top .top_right .top_right_r .top_right_service p a {
  display: block;
  width: 125px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  background-color: #f8f7f3;
  border: 1px solid #e5e5e5;
  text-align: center;
  color: #333;
  font-size: 12px;
  margin: 0 auto;
  text-decoration: none;
}

#box .top .top_right .top_right_r .top_right_service p a:hover {
  border: 1px solid #a5806d;
}

#box .top .top_right .top_right_r .top_right_service span {
  color: #9c9c9c;
}

#box .top .top_right .top_right_r .top_right_service .title {
  font-size: 12px;
  line-height: 16px;
  color: #666;
  text-align: left;
}

#box .top .top_right .top_right_r .top_right_service .title .item {
  margin-bottom: 16px;
  margin-top: 17px;
}

#box .top .top_right .top_right_r .top_right_service .title .item span {
  color: #9c9c9c;
}

#box .top .top_right .top_right_r .top_right_service a {
  display: block;
  color: #333;
  font-size: 12px;
  text-decoration: none;
}

#box .top .top_right .top_right_r .top_right_service a i {
  font-size: 12px;
}

#box .top .top_right .top_right_r .top_right_service a:hover {
  color: #a5806d;
  text-decoration: none;
}

#box .top .top_right .top_right_r .top_right_clientside {
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  top: 36px;
  left: -70px;
  padding: 20px 30px 0 30px;
  box-sizing: border-box;
  display: none;
  z-index: 1;
}

#box .top .top_right .top_right_r .top_right_clientside .text {
  height: 20px;
  margin-bottom: 6px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  color: #999;
}

#box .top .top_right .top_right_r .top_right_clientside .timgt {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

#box .top .top_right .top_right_r .top_right_clientside .timgt img {
  width: 100%;
  height: 100%;
}

#box .top .top_right .top_right_r .top_right_clientside .textt {
  text-align: center;
}

#box .top .top_right .top_right_r:hover {
  background: #661921;
}

#box .top .top_right .top_right_r:nth-child(3) i {
  font-size: 14px;
  color: #fff;
  padding-right: 5px;
  box-sizing: border-box;
}

#box .top .top_right .top_right_r:nth-child(8) span {
  padding-left: 10px;
  box-sizing: border-box;
}

#box .header {
  width: 100%;
  height: 100px;
  background: #f2f1ea;
}

#box .header .content .logo {
  height: 100px;
  line-height: 100px;
  float: left;
}

#box .header .content .logo img {
  width: 262px;
  height: 46px;
}

#box .header .content .header_search {
  float: right;
  width: 725px;
}

#box .header .content .header_search .search-type {
  width: 100%;
  height: 26px;
  margin-top: 5px;
}

#box .header .content .header_search .search-type .item-type {
  width: 30px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  float: left;
}

#box .header .content .header_search .search-put {
  float: left;
  height: 36px;
  position: relative;
  border: 2px solid #8c222c;
}

#box .header .content .header_search .search-put .search {
  float: left;
  height: 36px;
  padding: 10px 84px 10px 10px;
  width: 596px;
  line-height: 18px;
  border: none;
}

#box .header .content .header_search .search-put .searchbox {
  position: absolute;
  top: 0;
  right: 88px;
  width: 74px;
  height: 36px;
  line-height: 36px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

#box .header .content .header_search .search-put .searchbox span {
  display: block;
  width: 1px;
  height: 20px;
  margin-top: 8px;
  background: #ccc;
  float: left;
}

#box .header .content .header_search .search-put .searchbox p {
  text-align: center;
  float: left;
}

#box .header .content .header_search .search-put .searchbox i {
  color: #ddd;
}

#box .header .content .header_search .search-put .searchbtn {
  float: left;
  width: 88px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #fff;
  background: #8c222c;
  text-align: center;
  cursor: pointer;
}

#box .header .content .header_search .btn {
  width: 35px;
  float: left;
  font-size: 12px;
  color: #666;
  text-align: center;
}

#box .header .content .header_search .btn:hover {
  color: #8c222c;
}

#box .header .content .header_search .search-list {
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
}

#box .header .content .header_search .search-list .list {
  height: 26px;
}

#box .header .content .header_search .search-list .list li {
  float: left;
  margin-right: 16px;
  cursor: pointer;
}

#box .header .content .header_search .search-list .list li a {
  color: #7C7C7C;
  height: 26px;
}

#box .header .content .header_search .search-list .list li a:hover {
  color: #8c222c;
}

#box .nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #fff;
}

#box .nav .nav-list dt {
  float: left;
  margin-right: 32px;
  padding: 0 15px;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  text-align: left;
  position: relative;
}

#box .nav .nav-list dt a::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #B5AA9A;
  position: absolute;
  left: 16px;
  bottom: 10px;
}

#box .nav .nav-list a {
  display: block;
  color: #000;
  text-align: center;
  position: relative;
}

#box .nav .nav-list dd {
  float: left;
  margin-right: 32px;
  padding: 0 15px;
  font-size: 16px;
  height: 60px;
  line-height: 60px;
}

#box .nav .nav-list a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background: #B5AA9A;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  transition: width 0.4s;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -ms-transition: width 0.4s;
  -o-transition: width 0.4s;
}

#box .nav .nav-list a:hover::after {
  width: 100%;
}

#box .main {
  width: 100%;
}

#box .main .content-cont {
  width: 100%;
  height: auto;
}

#box .main .content-cont .cont-title {
  height: 44px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

#box .main .content-cont .cont-title dl dt {
  float: left;
  line-height: 30px;
  font-size: 30px;
  color: #333;
  margin-right: 20px;
  padding-bottom: 14px;
  font-weight: 700;
}

#box .main .content-cont .cont-title dl dd {
  float: left;
}

#box .main .content-cont .cont-title dl dd a {
  display: block;
  height: 40px;
  line-height: 45px;
  padding: 0 5px;
  font-size: 14px;
  color: #365899;
}

#box .main .content-cont .cont-title dl dd a:hover {
  color: #8c222c;
}

#box .main .content-cont .cont-title h5 {
  line-height: 30px;
  font-size: 30px;
  color: #333;
  margin-right: 20px;
  padding-bottom: 14px;
  font-weight: 700;
}

#box .main .content-cont .cont-left {
  width: 840px;
  height: auto;
  float: left;
}

#box .main .content-cont .cont-left p span {
  font-size: 18px;
  height: 20px;
  color: #000;
  margin-bottom: 25px;
  font-weight: bold;
}

#box .main .content-cont .cont-left p i {
  color: #ccc;
}

#box .main .content-cont .cont-left p a {
  font-size: 12px;
  color: #0d55a5;
}

#box .main .content-cont .cont-left p a:hover {
  color: #8c222c;
}

#box .main .content-cont .cont-left .content-ul {
  width: 100%;
  height: 100%;
}

#box .main .content-cont .cont-left .content-ul li {
  float: left;
  width: 148px;
  height: 240px;
  margin: 0 20px 25px 0;
  margin-top: 20px;
  font-size: 12px;
  position: relative;
}

#box .main .content-cont .cont-left .content-ul li .content-img {
  width: 148px;
  height: 140px;
  text-align: center;
}

#box .main .content-cont .cont-left .content-ul li .content-img .shrink {
  width: 100px;
  height: 140px;
  border: 0;
}

#box .main .content-cont .cont-left .content-ul li .content-img img {
  width: 100%;
  height: 140px;
  border: 0;
}

#box .main .content-cont .cont-left .content-ul li .img2 {
  border: 1px solid #ddd;
}

#box .main .content-cont .cont-left .content-ul li a {
  display: block;
  height: 32px;
  color: #333;
  margin-top: 10px;
  overflow: hidden;
}

#box .main .content-cont .cont-left .content-ul li a:hover {
  color: #8c222c;
}

#box .main .content-cont .cont-left .content-ul li p, #box .main .content-cont .cont-left .content-ul li .content-time {
  display: block;
  color: #999;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#box .main .content-cont .cont-left .content-ul li p i, #box .main .content-cont .cont-left .content-ul li .content-time i {
  color: #666;
}

#box .main .content-cont .cont-left .content-ul li p:hover {
  color: #8c222c;
}

#box .main .content-cont .cont-left .content-ul li .content-price {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #999;
  margin-top: 10px;
}

#box .main .content-cont .cont-left .content-ul li .content-price i {
  font-size: 16px;
  color: #bf7f5f;
}

#box .main .content-cont .cont-left .content-ul li .content-price .pricei {
  font-size: 15px;
  color: #bf7f5f;
}

#box .main .content-cont .cont-right {
  width: 360px;
  height: auto;
  float: left;
}

#box .main .content-cont .cont-right h4 {
  font-size: 18px;
  height: 20px;
  color: #000;
  margin-bottom: 25px;
  font-weight: bold;
}

#box .main .content-cont .cont-right h4 i {
  color: #ccc;
}

#box .main .content-cont .cont-right h4 a {
  font-size: 12px;
  color: #0d55a5;
}

#box .main .content-cont .cont-right h4 a:hover {
  color: #8c222c;
}

#box .main .content-cont .cont-right .content-ull {
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  border-left: 1px solid #e5e5e5;
}

#box .main .content-cont .cont-right .content-ull li {
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #e5e5e5;
  margin-top: 10px;
}

#box .main .content-cont .cont-right .content-ull li .icfont {
  float: left;
  color: #c97;
}

#box .main .content-cont .cont-right .content-ull li .content-title {
  display: block;
  width: 240px;
  height: 20px;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  float: left;
}

#box .main .content-cont .cont-right .content-ull li .content-title:hover {
  color: #8c222c;
}

#box .main .content-cont .cont-right .content-ull li .content-div {
  height: 14px;
  line-height: 14px;
  color: #333;
  font-size: 14px;
}

#box .main .content-cont .cont-right .content-ull li .content-div2 {
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 14px;
}

#box .main .content-cont .cont-right .content-ull li .content-div2 span {
  float: left;
}

#box .main .content-cont .cont-right .content-ull li .content-div3 {
  height: 20px;
  line-height: 20px;
  color: #333;
  font-size: 14px;
}

#box .main .content-cont .cont-right .content-ull li .content-div3 i {
  display: inline-block;
}

#box .main .content-cont .cont-right .content-ull li .content-div3 a {
  display: inline-block;
  width: 300px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#box .main .content-cont .cont-right .content-ull li p {
  font-size: 12px;
  color: #999;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  margin-top: 10px;
  padding-left: 16px;
}

#box .main .content-cont .cont-right .content-ull li:nth-child(8) {
  border-bottom: 0;
}

#box .main .main_top {
  width: 100%;
  padding-bottom: 40px;
  background: #f7f7f6;
}

#box .main .main_top .content .main_top_t {
  width: 100%;
  padding-bottom: 30px;
  box-sizing: border-box;
}

#box .main .main_top .content .main_top_t .main_left {
  width: 180px;
  height: 1465px;
  float: left;
  background: #f7f7f6;
}

#box .main .main_top .content .main_top_t .main_left .left {
  position: relative;
}

#box .main .main_top .content .main_top_t .main_left .left h4 {
  height: 32px;
  line-height: 32px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  float: left;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl {
  position: relative;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dt {
  height: 34px;
  line-height: 34px;
  background: #8c222c;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dt a {
  float: right;
  display: block;
  line-height: 34px;
  color: #d6d6d6;
  font-size: 12px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dt a:hover {
  color: #fff;
  text-decoration: underline;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd {
  display: block;
  width: 100%;
  height: 32px;
  line-height: 32px;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  font-size: 12px;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background: #fff;
  position: relative;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd a {
  color: #333;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd a:hover {
  color: #8c222c;
  text-decoration: underline;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd .shu {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 12px;
  color: #999;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd:nth-child(2) {
  background: #f2f1ea;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox {
  z-index: 4;
  display: none;
  width: 822px;
  height: 450px;
  padding: 0 0 10px 40px;
  box-sizing: border-box;
  border: 2px solid #8c222c;
  background-color: #fff;
  cursor: default;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt {
  overflow: hidden;
  margin-top: 20px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt h4 {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt p {
  line-height: 24px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt p a {
  display: inline-block;
  line-height: 14px;
  font-size: 12px;
  color: #333;
  padding: 5px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt p a:hover {
  color: #8c222c;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt p .detail-split {
  display: inline-block;
  line-height: 14px;
  font-size: 12px;
  color: #ccc;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt .sibu-title {
  float: left;
  width: 48px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #bdcbda;
  position: relative;
  top: -3px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt .detail-item-list {
  margin-top: 20px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt .detail-item-sibu .sibu-item {
  margin-top: 20px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt .detail-item-sibu .sibu-item .sibu-link-box {
  padding-left: 48px;
  color: #ccc;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt .detail-item-sibu .sibu-item .sibu-link-box p a {
  margin-top: -20px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt .detail-item-sibu .sibu-left {
  float: left;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl .conbox .lt .detail-item-sibu .sibu-right {
  float: right;
  margin-right: 60px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd:hover {
  border-top: #8c222c 2px solid;
  border-left: #8c222c 2px solid;
  border-bottom: #8c222c 2px solid;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd:nth-child(2):hover .conbox {
  display: block;
  position: absolute;
  top: -36px;
  left: 176px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd:nth-child(3):hover .conbox {
  display: block;
  position: absolute;
  top: -70px;
  left: 176px;
}

#box .main .main_top .content .main_top_t .main_left .left .leftdl dd:nth-child(4):hover .conbox {
  display: block;
  position: absolute;
  top: -104px;
  left: 176px;
}

#box .main .main_top .content .main_top_t .main_left .left2 {
  margin-top: 16px;
}

#box .main .main_top .content .main_top_t .main_left .left2 p {
  margin-bottom: 10px;
  position: relative;
}

#box .main .main_top .content .main_top_t .main_left .left2 p img {
  width: 100%;
  border: 0;
}

#box .main .main_top .content .main_top_t .main_left .left2 p .kuang1 {
  display: none;
  width: 100%;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#box .main .main_top .content .main_top_t .main_left .left2 p .kuang {
  display: none;
  width: 100%;
  height: 35px;
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#box .main .main_top .content .main_top_t .main_left .left3 {
  height: 58px;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding: 10px 0 0 10px;
  color: #333;
}

#box .main .main_top .content .main_top_t .main_left .left3 p i {
  margin-right: 8px;
}

#box .main .main_top .content .main_top_t .main_left .left3 p:hover {
  color: #8c222c;
}

#box .main .main_top .content .main_top_t .main_left .left3 span {
  height: 14px;
  font-size: 12px;
  line-height: 14px;
  color: #999;
  margin-left: 24px;
}

#box .main .main_top .content .main_top_t .main_left .left4 .menu {
  width: 100%;
  height: 37px;
  line-height: 37px;
  background: #f7f7f6;
}

#box .main .main_top .content .main_top_t .main_left .left4 .menu span {
  font-size: 14px;
  padding-right: 14px;
  box-sizing: border-box;
}

#box .main .main_top .content .main_top_t .main_left .left4 .menu span a {
  color: #000;
  padding-bottom: 5px;
}

#box .main .main_top .content .main_top_t .main_left .left4 .menu a:hover {
  border-bottom: 1px solid #8c222c;
}

#box .main .main_top .content .main_top_t .main_left .left4 .menu .help {
  padding-right: 0;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con {
  width: 180px;
  height: auto;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .active {
  border-bottom: 1px solid #8c222c;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox {
  display: none;
  z-index: 100;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .dic {
  width: 100%;
  height: 48px;
  font-size: 12px;
  margin-bottom: 15px;
  color: #666;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .dic p {
  margin-bottom: 8px;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .dic:hover {
  color: #8c222c;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox a {
  color: #e2c8ca;
  display: inline-block;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox a:hover {
  color: #fff;
  text-decoration: underline;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service {
  background: #fff;
  padding: 10px 20px 0;
  box-sizing: border-box;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service p a {
  display: block;
  width: 125px;
  height: 32px;
  line-height: 32px;
  border-radius: 2px;
  background-color: #f8f7f3;
  border: 1px solid #e5e5e5;
  text-align: center;
  color: #333;
  font-size: 12px;
  margin: 0 auto;
  text-decoration: none;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service p a:hover {
  border: 1px solid #a5806d;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service span {
  display: block;
  font-size: 12px;
  color: #9c9c9c;
  margin-top: 15px;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service .title {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  color: #666;
  text-align: left;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service .title .item {
  margin-bottom: 12px;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service .title .item span {
  color: #9c9c9c;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service a {
  display: block;
  color: #333;
  font-size: 12px;
  text-decoration: none;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service a i {
  font-size: 12px;
}

#box .main .main_top .content .main_top_t .main_left .left4 .con .conbox .top_right_service a:hover {
  color: #a5806d;
  text-decoration: none;
}

#box .main .main_top .content .main_top_t .main_right {
  width: 1010px;
  float: left;
}

#box .main .main_top .content .main_top_t .main_right .banner {
  position: relative;
  overflow: hidden;
  margin-left: 10px;
}

#box .main .main_top .content .main_top_t .main_right .banner .imglist {
  width: 100%;
  height: 100%;
}

#box .main .main_top .content .main_top_t .main_right .banner .imglist li {
  position: absolute;
  left: 0;
  top: 0;
}

#box .main .main_top .content .main_top_t .main_right .banner .imglist li img {
  display: block;
  width: 100%;
  height: 100%;
}

#box .main .main_top .content .main_top_t .main_right .banner .light {
  width: 160px;
  height: auto;
  position: absolute;
  right: 20px;
  top: 10px;
}

#box .main .main_top .content .main_top_t .main_right .banner .light span {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: left;
  color: #666;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 1px;
  background: rgba(255, 255, 255, 0.5);
}

#box .main .main_top .content .main_top_t .main_right .banner .light span.active {
  background: rgba(255, 255, 255, 0.767);
}

#box .main .main_top .content .main_top_t .main_right .pm-box {
  width: 100%;
  height: 86px;
  margin-top: 10px;
  margin-left: 10px;
}

#box .main .main_top .content .main_top_t .main_right .pm-box img {
  float: left;
  width: 500px;
  height: 40px;
  margin-right: 3px;
  margin-bottom: 2px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list {
  margin-top: 10px;
  margin-left: 20px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list-title {
  width: 100%;
  height: 22px;
  margin-bottom: 22px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list-title span {
  font-size: 18px;
  top: 12px;
  left: 20px;
  color: #333;
  font-weight: bold;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list-title a {
  font-size: 12px;
  color: #0057a0;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book {
  width: 100%;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li {
  float: left;
  width: 140px;
  height: 240px;
  font-size: 12px;
  position: relative;
  margin-bottom: 40px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li .liimg {
  text-align: center;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li .liimg img {
  width: 100px;
  height: 140px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li a {
  display: block;
  color: #333;
  margin: 5px 0 0 7px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li a:hover {
  color: #8c222c;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li span {
  display: block;
  color: #999;
  margin: 5px 0 0 7px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li p {
  margin-top: 15px;
  color: #999;
  margin-left: 7px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 10px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book li p i {
  font-size: 16px;
  color: #bf7f5f;
  margin-right: 5px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list .ul-book .rspacing {
  margin-right: 25px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books {
  width: 100%;
  height: auto;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li {
  width: 320px;
  float: left;
  margin-right: 12px;
  border: 1px solid #e5e5e5;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li img {
  width: 320px;
  height: 240px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con {
  background: #fff;
  padding: 10px 20px 20px 20px;
  box-sizing: border-box;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con a {
  font-size: 14px;
  line-height: 22px;
  color: #333;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con p {
  font-size: 12px;
  color: #666;
  margin-top: 6px;
  height: 36px;
  line-height: 18px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con .item-span {
  width: 100%;
  height: 36px;
  margin-top: 10px;
  border-bottom: 1px solid #e5e5e5;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con .item-span span {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 13px;
  border: 1px solid #dfc49b;
  padding: 5px 6px;
  color: #C28F42;
  margin-right: 9px;
  margin-bottom: 12px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con .item-price {
  height: 50px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con .item-price span {
  display: block;
  float: left;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  color: #8c222c;
  margin-top: 20px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con .item-price .baoyou {
  font-size: 12px;
  margin-left: 4px;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li .item-con .item-price a {
  float: right;
  display: block;
  width: 112px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #8c222c;
  font-size: 14px;
  color: #fff;
  margin-top: 20px;
  border-radius: 2px;
  cursor: pointer;
}

#box .main .main_top .content .main_top_t .main_right .gallery-book-list .book-list2 .ul-books li:nth-child(3) {
  margin-right: 0;
}

#box .main .main_top .content .main_top_f {
  width: 100%;
  height: 166px;
}

#box .main .main_top .content .main_top_f a {
  display: block;
  float: left;
  width: 390px;
  height: 166px;
  margin-right: 15px;
}

#box .main .main_top .content .main_top_f a img {
  width: 100%;
  height: 100%;
}

#box .main .main_top .content .main_top_f .aimg3 {
  margin-right: 0;
}

#box .main .main_content {
  width: 100%;
  height: auto;
  padding-top: 30px;
}

#box .main .main_up {
  width: 100%;
  height: auto;
  background: #f7f7f6;
  overflow: hidden;
}

#box .main .main_up .content .cont-title {
  margin-top: 20px;
}

#box .main .main_middle {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
}

#box .main .main_middle .content .cont-title {
  margin-top: 20px;
}

#box .footer {
  width: 100%;
  height: auto;
  padding-top: 56px;
  overflow: hidden;
  background: #fff;
}

#box .footer .content .footer_title {
  width: 100%;
  height: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 34px;
}

#box .footer .content .footer_title span {
  font-size: 18px;
  top: 12px;
  left: 20px;
  color: #333;
  font-weight: 700;
}

#box .footer .content .footer_title i {
  font-size: 14px;
  color: #999;
  font-weight: 400;
}

#box .footer .content .footer_title a {
  font-size: 12px;
  color: #0057a0;
}

#box .footer .content .footer_link {
  width: 100%;
  margin-bottom: 50px;
}

#box .footer .content .footer_link dl dt {
  width: 200px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #aa987d;
  background: #f3f0e9;
  float: left;
}

#box .footer .content .footer_link dl dd {
  float: left;
  width: 200px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}

#box .footer .content .footer_link dl dd img {
  width: 100%;
  height: 100%;
}

#box .footer .content .footer_tab {
  width: 100%;
  height: 123px;
  border: 1px solid #e5e5e5;
}

#box .footer .content .footer_tab .menu2 {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #e5e5e5;
}

#box .footer .content .footer_tab .menu2 span {
  display: inline-block;
  width: 80px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}

#box .footer .content .footer_tab .menu2 span a {
  color: #999;
  font-size: 14px;
}

#box .footer .content .footer_tab .menu2 .active {
  border-bottom: 1px solid #fff;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

#box .footer .content .footer_tab .menu2 span:nth-child(1) {
  border-left: 1px solid #fff;
}

#box .footer .content .footer_tab .con2 {
  width: 100%;
  height: auto;
  padding: 10px 10px 0;
}

#box .footer .content .footer_tab .con2 .conbox2 {
  display: none;
}

#box .footer .content .footer_tab .con2 .conbox2 li {
  float: left;
}

#box .footer .content .footer_tab .con2 .conbox2 li a {
  display: block;
  white-space: nowrap;
  float: left;
  margin-right: 20px;
  font-size: 12px;
  color: #999;
  line-height: 20px;
}

#box .footer .content .footer_box {
  width: 100%;
  height: 70px;
  color: #999;
  background-color: #fff;
  overflow: hidden;
  margin-top: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  border-top: 1px solid #ddd;
}

#box .footer .content .footer_box .copyright-info {
  float: left;
  width: 300px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

#box .footer .content .footer_box .link2-info {
  width: calc(100% - 300px);
  float: right;
  text-align: right;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

#box .footer .content .footer_box .link2-info a {
  margin-left: 13px;
  color: #8999a9;
}

#box .footer .content .footer_box .link2-info a:hover {
  color: #000;
}

#box .footer .content .footer_box .Licence-info {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}

#box .footer .content .footer_box .Licence-info a {
  color: #999;
}
